[package]
name = "amms"
version = "0.6.1"
edition = "2021"
license = "MIT"
description = "A library to interact with automated market makers across EVM chains."
readme = "README.md"
homepage = "https://github.com/darkforestry/amms-rs"
repository = "https://github.com/darkforestry/amms-rs"
keywords = ["ethereum", "amm", "mev"]
exclude = [
    "target/*",
    ".github/*",
    ".gitignore"
]


[dependencies]
ethers = { version = "2.0.9", default-features = true, features = ["abigen", "ws", "ipc", "rustls"] }
tokio = { version = "1.29.1", features = ["full"] }
futures = "0.3.28"
indicatif = "0.17.5"
thiserror = "1.0.44"
async-trait = "0.1.72"
serde_json = "1.0.104"
serde = "1.0.176"
num-bigfloat = "1.6.2"
uniswap_v3_math = "0.4.0"
regex = "1.9.1"
spinoff = "0.8.0"
arraydeque = {version = "0.5.1", optional = true}
eyre = "0.6.8"
lazy_static = "1.4.0"


[features]
default = ["filters", "state-space"]
filters = []
state-space = ["arraydeque"]

